.body{
    font-family: serif;
    font-weight: 400;
    font-style: 20px;
    color: #424242;
}


.container{

    width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #d6d6d6;
    
}

.header-row{
    display: flex;
    align-items: center;
    justify-content:space-between;

}

.header-nav ul {
    display: flex;
    margin-left: 172px;
}

.header-nav li {
    margin-right: 70px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.hader-nav a  {
    transition: color .2s ease;
}

.hader-nav a:hover {
    color:#01996d;
}

.header-login{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-login > * + * {
    margin-left: 35px;
}


.header-nav{
    font-weight: 500;
    color: #292929;
}

.header-login a {
    color:black;
    transition: color .2s ease ;
}

.header-login a:hover {
    color: #01996d;
}

.btn, a.btn {
	display: inline-block;

	/* height: 51px;
	line-height: 51px; */

	min-height: 51px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;

	padding-left: 50px;
	padding-right: 50px;
	background-color: #01996d;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	border-radius: 4px;
	transition: opacity 0.2s ease;
}

.btn:hover, a.btn:hover {
	opacity: 0.8;
	color: #fff;
}

.btn-big, a.btn-big {
	min-height: 65px;
}


/*home*/
.home{
    position: relative;
    padding: 175px;
    min-height: 895px;
    

}

.home-content {
    max-width: 440px;

}

.home-heading{
    margin-bottom:30[px];
    color: #01996d;
    font-family: 'Georgia', serif;
    font-weight: 600;
    font-size: 65px;

}

.home-heading + * {
    margin-top: 30px;
}

.home-text{
    color: #484848;
    line-height: 144.5%;
    
}

.home-text + * {
    margin-top: 53px;
}

.home-background-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 241, 229);
    z-index: -1;

}

.home-background-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*how-it-works*/

.how-it-works{
    padding-top: 169px;
    padding-bottom: 51px;
}

.how-it-works-header {
    padding-bottom: 52px;
    display: flex;
    justify-content: space-between;
}
.how-it-works-header-head {
    max-width: 584px;
    margin-right: 30px;
}



.how-it-works-title {
    line-height: 157%;
    margin-bottom: -3px;
    font-weight: 600;
    font-style: 24px;
}

.how-it-works-subtitle {
    font-weight: 700;
    font-size: 50px;
    font-size: 'Georgia', serif;
    line-height: 157%;
    color: #01996d;
}

.how-it-works-header-content{
    padding-top: 110px;
    max-width: 671px;
    line-height: 150%;
    font-weight: 500;

}

.how-it-works-steps {
display: grid;
grid-template-columns:repeat(auto-fit, 390px);
column-gap: 95px;
}


.step{
    max-width: 390px;
}

.step:nth-child(2){
    padding-top: 287px;
}

.step:nth-child(3){
    padding-top: 54px;
}

.step-heading {
    position: relative;
    padding-top: 135px;
    padding-left: 88px;

    font-family:'Georgia', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: #000;
    margin-bottom: 55px;
}

.step-heading::before {
    position: absolute;
    left: 0;
    top: 0;

    content:attr(data-number);
    font-weight: 400;
    font-size: 150px;
    line-height:150% ;
    color: rgba(1, 153, 109, 0.2);
}

.step-text {
    margin-bottom: 60px;
    font-weight: 20px;
    font-style: 20px;
    line-height: 150%;
    color:#424242; 
}

.step-img-wrapper {
    position: absolute;
    padding-bottom: 126%;

}

.step-img{
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
